<div>
    <h2>Add puppy</h2>

    <form id="form-create-puppy" action="/puppies/create" enctype="multipart/form-data" method="POST">
            <input type="text" placeholder="Name" name="name">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <div class="breed-div">
                <input class="breed" type="text" placeholder="Breed" name="breed">
                <button id="add-breed-btn" class="btn">Add breed</button>
                <button id="delete-breed-btn" class="btn">Delete breed</button>
            </div>
            
            <input type="date" placeholder="Birth Date" name="birthDate">

            <div class="color-div">
                <input class="color" type="text" placeholder="Color" name="colors">
                <button id="add-color-btn" class="btn">Add color</button>
                <button id="delete-color-btn" class="btn">Delete color</button>
            </div>

            <input type="number" placeholder="Price" name="price" min="0">
            <input type="text" placeholder="Description" name="description">

            <input type="file" id="main-picture" name="pictures">
            <div class="pictures-div">
                <input multiple class="pictures" type="file" name="pictures">
                <button id="add-picture-btn" class="btn">Add picture</button>
                <button id="delete-picture-btn" class="btn">Delete picture</button>
            </div>
            
            <button type="submit" class="btn">Add Puppy</button>
      
    </form>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</div>


<script src="/javascripts/btn-create-update-puppy.js"></script>